@font-face {
  font-family: Poppins;
  src: url('/Web_Viajes_CodoaCodo/Java-Grupo7/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Thin;
  src: url('/Web_Viajes_CodoaCodo/Java-Grupo7/fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('/Web_Viajes_CodoaCodo/Java-Grupo7/fonts/Poppins/Poppins-Bold.ttf');
}

.cover {
  background-image: url('../bg/Background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-btn {
  border-radius: 20em;
}

.carousel {
  border-radius: 50px;
  overflow: hidden; 
}